<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <title>Product App</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="nav-bar"></div>

        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img :src="image">
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <!-- When rendering lists like below, its highly recommmented
                        to use the key attribute, so Vue can keep track of each
                        nodes identiy
                    -->
                    <div v-for="variant in variants" :key="variant.variantId">
                        <!-- '@' is the shorthand syntax for 'v-on' -->
                        <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
                    </div>

                    <!-- <button v-on:click="cart += 1">Add to Cart</button> -->
                    <!-- Below, v-on:click is calling a method on the Vue instance. -->
                    <button v-on:click="addToCart">Add to Cart</button>
                    <button v-on:click="removeToCart">Remove to Cart</button>

                    <div class="cart">
                        <p>Cart({{ cart }})</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
